/*  Algumas unidades de medidas
px | é uma unidade de medida de tamanho fixo
tag p | tem o tamanho padrão de 16px
em | trabalha em relação ao tamanho fonte do elemento pai
rem - também conhecido como root em | este vai depender do elemento pai para tudo, que neste caso é o html. O em & rem podem ser usados em qualquer unidade de medida
vh | viewport height
vw | viewport width
*/


*{
    margin: 0; /*deixa os itens/textos inseridos na página sem margem*/
    padding: 0; /*deixa os itens sem um respiro interno, sem um espaçamento*/
    font-family: cursive; /*define uma fonte padrão para toda página*/
    list-style: none; /*tira as bolinhas*/
}


/*aqui iniciamos a configuração do header (cabeçalho)*/

.header{
    background-color: #ef550e ; /*rgb 78 135 168*/
    padding: 10vh; /*define a altura do header*/
    position: sticky;
    top: 0;
    left: 0;
}

.menu-header{
    display: flex; /*deixa os títulos lado a lado*/
    justify-content: end; /*ajusta os títulos no final da página que é o mesmo que alinhar do lado direito*/
 }

.menu-header li{
    margin-left: 4vw; /*coloca um espaço entre os títulos no header*/
}

.menu-header a{
    text-decoration: none; /*tira o sublinhado que é habilitado pela tag A*/
    color: white; /*define a cor do título no header*/
    font-size: 1.1em; /*define o tamanho da letra no cabeçalho*/
}

.menu-header li a:hover {
    color:#470000; /*esta cor aparecerá quando passar o mouse sobre as palavras*/
    transition: 0.8s; /*define a velidade em que mudará a cor ao passar o mouse sobre uma palavra*/
}


/*aqui iniciamos a configuração do ID de nome SESSAO que sempre será chamado no CSS pelo símbolo: # */

#sessao{  /*quando for id chama # */
    padding: 8vw;
    background: linear-gradient(180deg,#c0cdcf 8.33%, #f36e27 100%);
    color: #470000;
}

#sessao h2{
    font-size: 2.5em; 
    color:#470000(0, 0, 0, 0.717);
}

#sessao p{
    font-size: 2em;
    margin: 20px 0; /*1º margem reflete em cima e embaixo e o 0 reflete nas laterais*/
    color: #470000;
}

#sessao button{
    padding: 19px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer; /*ao passar o ouse sobre o botão a seta se transforma em uma mão*/
}

#sessao a button{
    text-decoration: none;
    color:#ef550e;
}

#sessao a button:hover{
    color: white;
    background-color: #470000;
}


/*aqui iniciamos a configuração do ID de nome APP, onde o foco está em falar do aplicativo do banco */

#app{
    display: flex;
    background-color:#ffba71;
    padding: 8vw;
    justify-content: space-around;
    color: #470000;
}

#app div button{
    padding: 19px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer;
}

#app a button{
    text-decoration: none;
    color:#ef550e;
    margin-top: 20px;
}

#app a button:hover{
    color: white;
    background-color: #470000 ;
}

#app div p{
    font-size: 2em;
    margin: 0px 10px; /*1º margem reflete em cima e embaixo e o 0 reflete nas laterais*/
}

#app div img{
    width: 25rem;
    height: 25rem;
    margin-left: 50px;
    margin-bottom: -200px; /*margin negativa faz o processo inverso. ou seja, a imagem sobe*/
}


/*aqui iniciamos a configuração do ID de nome CONTAINER, onde o foco está em falar do negócio */

#container{
    background-color:#ffba71 ;
    padding: 8vw;
    color: #470000;
}

#container h2{
    font-size: 2.5em;
    color:#470000(0, 0, 0, 0.717);
    margin-bottom: 4vh;
}

#container p{
    font-size: 1.6em;
    margin: 20px 0; /*1º margem em cima e embaixo e o 0 é das laterais*/
    text-align: justify;
}

#container button{
    padding: 19px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer;
    margin-bottom: 20px;
}

#container a button{
    text-decoration: none;
    color:#ef550e;
}

#container a button:hover{
    color: white;
    background-color: #470000;
}

#container hr{
    margin: 0 auto; /*Margem zerada e automatica*/
    width: 70%; /*Tamanho da linha*/
}

#container div img{   
    margin-left: 30vw; /*margem do lado esquerdo*/
    margin-top: 5vh; /*distancia no topo*/
    width: 25vw; /*define o tamanho da imagem*/
}


/*aqui iniciamos a configuração do ID de nome CONTAINER-COFRE, onde o foco está em falar da segurança */

#container-cofre{
    background: linear-gradient(180deg, #ef550e 8.33%, rgba(5, 39, 101, 0.745) 100%), url(img/img\ cofre\ fundo.jpg);
    background-position: center;
    background-attachment: fixed; /*esta opção fixa a imagem no fundo do background*/
   
    display: flex;
    justify-content: space-between;
    padding: 8vw;
    color: white;
}

#container-cofre img{
    flex-wrap: wrap;
    width: 20vw; /*aqui foi definido o tamanho da imagem para os 4 angulos*/
    height: auto; /*optou-se por deixar o ajuste da altura automatico e de acordo com a quantidade do conteudo*/
    margin-left: 4vw;
}

#container-cofre h2{
    text-align: center;
    font-size: 2.3em;
    color:#470000(0, 0, 0, 0.717);
    margin-top: 1.5em;
}

#container-cofre p{
    color:#470000(0, 0, 0, 0.717);
    text-align: center;
    font-size: 1.3em;
    margin-top: 3em;
}

/*configurações do footer (rodapé)*/

footer{
    padding: 2vw; /*está ação dá um espaço nas bordas deste bloco*/
    text-align: center; /*esta configuração faz com que a imagem fique centralizada*/
    background-color: #ef550e ; /*rgb 78 135 168*/
}

footer div{
    display: flex; /*alinha lado a lado os itens colocados dentro desta DIV, neste caso um paragrafo e uma ancora*/
    justify-content: space-around; /*alinha centralizado, considerando o espaço ao redor*/
    margin-top: 6vh; /*dá um espaço na parte superior desta div*/
    margin-bottom: 4vh; /*dá um espaço na parte inferior desta div*/
}

footer div a{
    text-decoration: none; /*elimina o underline que aparece junto ao código utilizado para inserir a ancora*/
    color: white; /*define a cor do texto escrito dentro da ancora e que será visivel pelo usuário do site*/
}

footer div a:hover{
    color:#470000; /*esta cor aparecerá quando passar o mouse sobre a palavra*/
    transition: 0.5s; /*define a velocidade em que mudará a cor ao passar o mouse sobre uma palavra*/
}

footer img{ /*aqui foi definido o tamannho da imagem de forma responsiva*/
    width: 25vw; 
    height: 10vh;
    margin-top: 4vh;
}

footer p{
    color: white;
}

footer span{
    color: #470000;
    font-weight: bold;
}

/* Tamanho das telas que iremos trabalhar  480 px, 767px, 991px, 1366px, 1920px */

@media screen and (max-width: 1920px){ }

@media screen and (max-width: 1366px){ }

@media screen and (max-width: 991px){ 

    header{
        font-size: 1em;
        
    }
}

@media screen and (max-width: 767px){ }

@media screen and (max-width: 480px){ 

    .menu-header{
        font-size: smaller;            
        flex-wrap: wrap;
        
    }

    #sessao h2{
        font-size: larger;
    }

    #sessao p{
        font-size: medium;
    }

    #sessao a button{
        font-size: small;
    }

    #app{
        flex-wrap: wrap;
    }

    #app div p{
        font-size: medium;
    }

    #app div a button{
        font-size: small;
    }

    #app div img{
        width: 60vw;
        margin-bottom: 15px;
    }

    #container h2{
        font-size: larger;
    }

    #container p{
        font-size: medium;
    }

    #container a button{
        font-size: small;
    }

    #container-cofre div h2{
        font-size: larger;
    }

    #container-cofre div p{
        font-size: medium;
    }
    
    @media screen and (min-width: 400px){

        .header{
            padding: 1em;
            width: 5em;
        }

        .menu-header{
            font-size: smaller;            
            flex-wrap: wrap;
          
    
        }
    
        #sessao h2{
            font-size: larger;
        }
    
        #sessao p{
            font-size: medium;
        }
    
        #sessao a button{
            font-size: small;
        }
    
        #app{
            flex-wrap: wrap;
        }
    
        #app div p{
            font-size: medium;
        }
    
        #app div a button{
            font-size: small;
        }
    
        #app div img{
            width: 60vw;
            margin-bottom: 15px;
        }
    
        #container h2{
            font-size: larger;
        }
    
        #container p{
            font-size: medium;
        }
    
        #container a button{
            font-size: small;
        }
    
        #container-cofre img{
            width: 25vw;
            margin-left: 0 ;
            margin-right: 1vw;
        }

        #container-cofre div h2{
            font-size: medium;
            
        }
    
        #container-cofre div p{
            font-size: small;
            margin-left: 2.5vw;
        }

        footer{
            padding: 5px;
        }

        footer div p{
            font-size: small;
        }

        footer div a{
            font-size: small;
        }

    }
 }