

*{
    margin: 0; /*deixa os itens/textos inseridos na página sem margem*/
    padding: 0; /*deixa os itens sem um respiro interno, sem um espaçamento*/
    font-family: cursive; /*define uma fonte padrão para toda página*/
    list-style: none; /*tira as bolinhas*/
}

.header{
    background-color: rgb(78, 135, 168); /*rgb 78 135 168*/
    padding: 70px; /*define a altura do header*/
}

.menu-header{
    display: flex; /*deixa os títulos lado a lado*/
    justify-content: end; /*ajusta os títulos no final da página que é o mesmo que alinhar do lado direito*/
 }

.menu-header li{
    margin-left: 40px; /*coloca um espaço entre os títulos no header*/
}

.menu-header a{
    text-decoration: none; /*tira o sublinhado que é habilitado pela tag A*/
    color: white; /*define a cor do título no header*/
    font-size: 15px; /*define o tamanho da letra no cabeçalho*/
}

.menu-header li a:hover {
    color: blue; /*esta cor aparecerá quando passar o mouse sobre as palavras*/
    transition: 0.8s; /*define a velidade em que mudará a cor ao passar o mouse sobre uma palavra*/
}

#sessao{  /*quando for id chama # */
    padding: 15rem;
    background: linear-gradient(180deg,#c0cdcf 8.33%,  rgba(90, 168, 168) 100%);
}

#sessao h2{
    font-size: 3em; /*48px*/
    color: rgba(0, 0, 0, 0.717);
}

#sessao p{
    font-size: 2.3em;
    margin: 20px 0; /*1º margem em cima e embaixo e o 0 é das laterais*/
}

#sessao button{
    padding: 22px;
    border-radius: 50px;
    border-color: rgb (19, 153, 108);
    width: 20em;
    cursor: pointer;
}

#sessao button a{
    text-decoration: none;
    color: rgb(19, 153, 108);

}


#app{
    display: flex;
    background-color:rgb(226, 233, 233);
    padding: 15rem;
    justify-content: space-around;
}

#app div button{
    padding: 22px;
    border-radius: 50px;
    border-color: rgb (19, 153, 108);
    width: 20em;
    cursor: pointer;
    margin: 1em;
}

#app button a{
    text-decoration: none;
    color: rgb(19, 153, 108);
}

#app div p{
    font-size: 3em;
    margin-bottom: 20px;
}

#app div img{
    width: 25rem;
    height: 25rem ;
    margin-left: 70px;;
    margin-top: -70px; /*margin negativa faz o processo inverso. ou seja, a imagem sobe*/

}

#container{
    background-color: yellowgreen;
    padding: 70px;
}

#container-cofre{
    background-image: url(img/img\ cofre\ fundo.jpg);
    padding: 300px;
}