/*ALGUMAS UNIDADES DE MEDIDAS*/
/*px | é uma unidade de medida de tamanho fixo*/
/*tag p | tem o tamanho padrão de 16px*/
/*em | trabalha em relação ao tamanho fonte do elemento pai*/
/*rem - também conhecido como root em | este vai depender do elemento pai para tudo, que neste caso é o html. O em & rem podem ser usados em qualquer unidade de medida*/
/*vh | viewport height*/
/*vw | viewport width*/


*{
    margin: 0; /*deixa os itens/textos inseridos na página sem margem*/
    padding: 0; /*deixa os itens sem um respiro interno, sem um espaçamento*/
    font-family: cursive; /*define uma fonte padrão para toda página*/
    list-style: none; /*tira as bolinhas*/
}


.header{
    background-color: #ef550e ; /*rgb 78 135 168*/
    padding: 70px; /*define a altura do header*/
    position: sticky;
    top: 0;
    left: 0;
}

.menu-header{
    display: flex; /*deixa os títulos lado a lado*/
    justify-content: end; /*ajusta os títulos no final da página que é o mesmo que alinhar do lado direito*/
 }

.menu-header li{
    margin-left: 40px; /*coloca um espaço entre os títulos no header*/
}

.menu-header a{
    text-decoration: none; /*tira o sublinhado que é habilitado pela tag A*/
    color: white; /*define a cor do título no header*/
    font-size: 1.1em; /*define o tamanho da letra no cabeçalho*/
}

.menu-header li a:hover {
    color:#470000; /*esta cor aparecerá quando passar o mouse sobre as palavras*/
    transition: 0.8s; /*define a velidade em que mudará a cor ao passar o mouse sobre uma palavra*/
}

#sessao{  /*quando for id chama # */
    padding: 15rem;
    background: linear-gradient(180deg,#c0cdcf 8.33%, #f36e27 100%);
    color: #470000;
}

#sessao h2{
    font-size: 3em; /*48px*/
    color:#470000(0, 0, 0, 0.717);
}

#sessao p{
    font-size: 2.3em;
    margin: 20px 0; /*1º margem em cima e embaixo e o 0 é das laterais*/
    color: #470000;
}

#sessao button{
    padding: 22px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer;
    font-size: 15px;
}

#sessao button:hover{
    color: white;
    background-color: #470000;
}

#app{
    display: flex;
    background-color:#ffba71 ;
    padding: 15rem;
    justify-content: space-around;
    color: #470000;
}

#app a button{
    padding: 22px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

#app a button:hover{
    color: white;
    background-color: #470000;
}

#app div p{
    font-size: 2.3em;
}

#app div img{
    width: 25rem;
    height: 25rem ;
    margin-left: 70px;;
    margin-top: -70px; /*margin negativa faz o processo inverso. ou seja, a imagem sobe*/
}

#container{
    padding: 15rem;
    background-color:#ffba71  ;
    color: #470000;
}

#container h2{
    font-size: 3em; /*48px*/
    text-align: center;
    color:#470000(0, 0, 0, 0.717);
    margin-top: -20rem; /*utilizo a numeração negativa para diminuir a distancia entre as sections neste caso*/
}

#container p{
    font-size: 1.8em;
    color:#470000(0, 0, 0, 0.717);
    margin: 25px 0; /*1º margem em cima e embaixo e o 0 é a margem das laterais*/
    text-align: justify;
}

#container a button{
    padding: 22px;
    border-radius: 50px;
    border-color: #ef550e;
    width: 20em;
    cursor: pointer;    
    font-size: 15px;
    margin-bottom: 10px;
}

#container a button:hover{
    background-color: #470000;
    color: white;
}


#container hr{
    width: 50vw;
    margin: 20px auto;
}

#container img{
    width: 25vw; /*definiu o tamanho da imagem*/
    margin: 0 25%;
    padding: 10px;
    margin-left: 30%;
}

#container-cofre{
    background: linear-gradient(180deg,#ef550e 8.33%, rgba( 5, 39, 101, 0.745) 100%),url(img/img\ cofre\ fundo.jpg) ;
    background-position: center;
    background-attachment: fixed; /*fixa a imagem colocada no background*/
    display: flex;
    align-items: center; /*alinha o texto no centro do angulo horizontal*/
    justify-content: space-between; /*justifica os dois conteúdos dentro da sessao*/
    padding: 17rem;    
}

#container-cofre img{
    width: 25vw;
    height: auto;
    margin-right: 5em;
}

#container-cofre h2{
    text-align: center;
    font-size: 1.7em; /*48px*/
    color: white; 
}

#container-cofre p{
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
    color: white;
    font-weight: 800; /*este não trabalha com unidade de medida, tem a própria padronização*/
}

footer {
    background-color: #ef550e ;
    padding: 1em;
    text-align: center; /*também uso para alinhar imagem quando a tag imagem estiver solta dentro do footer. Se estivesse vinculado a uma div não funcionaria. O text-align foi colocado no footer e não na imagem*/
    color: #470000;
}

footer div{
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

footer img{
    width: 20vw; /*definiu o tamanho da imagem*/
    align-items: center;
    padding: 1em;
}

footer a{
    text-decoration: none;
    color: #470000;
}

footer a:hover{
    color: white;
    transition: 0.8s;
}





